<div class="about">
  <div class="about-container">
    <div class="about-wrapper">
      <div class="about-column">
        <div class="ratio-box landscape">
          <img class="about-img" src="{{ section.settings.image | img_url: 'large' }}" />
        </div>
      </div>
      <div class="about-column">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.description }}</p>

        <a class="button" href="{{ section.settings.buttonLink }}">{{ section.settings.buttonText }}
          <div class="arrow">
            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                fill="#464E40" />
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "About content",
"settings": [
{
"type":"text",
"label":"About heading",
"id":"heading"
},
{
"type":"richtext",
"label":"About description",
"id":"description"
},
{
"type":"text",
"label":"Button text",
"id":"buttonText"
},
{
"type":"url",
"label":"Button link",
"id":"buttonLink"
},

{
"type": "image_picker",
"id": "image",
"label": "Image"
}

]
}
{% endschema %}