<div class="service-wrapper">
    <div class="service-column">
        <div class="contact-information">
            <div>{{ section.settings.information }}</div>


        </div>
    </div>



    <div class="service-column">
        <div class="ratio-box landscape">
            <img src="{{ section.settings.image | img_url: 'large' }}" />
        </div>
    </div>
</div>


<div class="service-wrapper">

    <div class="service-column">
        <h2>Shop information</h2>
        <div class="contact-location">
            <div class="contact-icon">
                <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="path-1-inside-1_429_4576" fill="white">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15 6.97561C15 8.35821 13.8215 10.731 13.8215 10.731L7.5 22L1.17852 10.731C1.17852 10.731 0 8.35821 0 6.97561C0 3.12309 3.35786 0 7.5 0C11.6421 0 15 3.12309 15 6.97561ZM7.50024 10.2652C9.1571 10.2652 10.5002 8.95194 10.5002 7.3319C10.5002 5.71187 9.1571 4.39857 7.50024 4.39857C5.84339 4.39857 4.50024 5.71187 4.50024 7.3319C4.50024 8.95194 5.84339 10.2652 7.50024 10.2652Z" />
                    </mask>
                    <path
                        d="M13.8215 10.731L14.6936 11.2202L14.7059 11.1983L14.7171 11.1758L13.8215 10.731ZM7.5 22L6.62785 22.4892L7.5 24.044L8.37215 22.4892L7.5 22ZM1.17852 10.731L0.282909 11.1758L0.294083 11.1983L0.306373 11.2202L1.17852 10.731ZM13.8215 10.731C14.7171 11.1758 14.7171 11.1757 14.7172 11.1756C14.7172 11.1755 14.7173 11.1754 14.7173 11.1753C14.7175 11.1751 14.7176 11.1749 14.7177 11.1746C14.718 11.174 14.7183 11.1733 14.7188 11.1725C14.7196 11.1708 14.7207 11.1685 14.7221 11.1656C14.7249 11.16 14.7288 11.1521 14.7337 11.142C14.7435 11.1219 14.7574 11.0932 14.7748 11.0567C14.8095 10.9839 14.8583 10.8798 14.9166 10.7511C15.0328 10.4944 15.1881 10.1363 15.3441 9.73076C15.6386 8.96505 16 7.87112 16 6.97561H14C14 7.4627 13.7721 8.24646 13.4774 9.01279C13.3387 9.37331 13.1994 9.69478 13.0946 9.92622C13.0424 10.0416 12.9992 10.1336 12.9695 10.1959C12.9546 10.227 12.9432 10.2507 12.9357 10.266C12.932 10.2737 12.9293 10.2792 12.9276 10.2826C12.9268 10.2843 12.9262 10.2855 12.9259 10.2861C12.9258 10.2864 12.9257 10.2865 12.9257 10.2865C12.9257 10.2865 12.9257 10.2865 12.9257 10.2865C12.9257 10.2864 12.9258 10.2863 12.9258 10.2863C12.9258 10.2862 12.9259 10.2862 13.8215 10.731ZM8.37215 22.4892L14.6936 11.2202L12.9493 10.2417L6.62785 21.5108L8.37215 22.4892ZM0.306373 11.2202L6.62785 22.4892L8.37215 21.5108L2.05067 10.2417L0.306373 11.2202ZM-1 6.97561C-1 7.87112 -0.638593 8.96505 -0.344082 9.73076C-0.188117 10.1363 -0.0328129 10.4944 0.0833849 10.7511C0.14165 10.8798 0.190503 10.9839 0.225248 11.0567C0.242631 11.0932 0.256513 11.1219 0.266311 11.142C0.271211 11.1521 0.275092 11.16 0.277882 11.1656C0.279277 11.1685 0.280399 11.1708 0.28124 11.1725C0.281661 11.1733 0.282011 11.174 0.282289 11.1746C0.282429 11.1749 0.28255 11.1751 0.282653 11.1753C0.282705 11.1754 0.282769 11.1755 0.282795 11.1756C0.282854 11.1757 0.282909 11.1758 1.17852 10.731C2.07413 10.2862 2.07418 10.2862 2.07422 10.2863C2.07423 10.2863 2.07427 10.2864 2.07428 10.2865C2.07431 10.2865 2.07433 10.2865 2.07432 10.2865C2.07432 10.2865 2.07424 10.2864 2.07409 10.2861C2.0738 10.2855 2.07323 10.2843 2.0724 10.2826C2.07073 10.2792 2.06799 10.2737 2.06426 10.266C2.0568 10.2507 2.04536 10.227 2.03052 10.1959C2.00081 10.1336 1.95759 10.0416 1.90537 9.92622C1.8006 9.69478 1.66127 9.37331 1.5226 9.01279C1.22785 8.24646 1 7.4627 1 6.97561H-1ZM7.5 -1C2.87508 -1 -1 2.50378 -1 6.97561H1C1 3.74241 3.84065 1 7.5 1V-1ZM16 6.97561C16 2.50378 12.1249 -1 7.5 -1V1C11.1594 1 14 3.74241 14 6.97561H16ZM9.50024 7.3319C9.50024 8.37859 8.62612 9.26523 7.50024 9.26523V11.2652C9.68808 11.2652 11.5002 9.52529 11.5002 7.3319H9.50024ZM7.50024 5.39857C8.62612 5.39857 9.50024 6.28522 9.50024 7.3319H11.5002C11.5002 5.13852 9.68808 3.39857 7.50024 3.39857V5.39857ZM5.50024 7.3319C5.50024 6.28522 6.37437 5.39857 7.50024 5.39857V3.39857C5.31241 3.39857 3.50024 5.13852 3.50024 7.3319H5.50024ZM7.50024 9.26523C6.37437 9.26523 5.50024 8.37859 5.50024 7.3319H3.50024C3.50024 9.52529 5.31241 11.2652 7.50024 11.2652V9.26523Z"
                        fill="#66675F" mask="url(#path-1-inside-1_429_4576)" />
                </svg>
            </div>

            <div class="contact-address">
                <p>{{ section.settings.street-hn }}</p>
                <p>{{ section.settings.zipcode-city }}</p>
            </div>

            <div class="contact-icon">
                <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.38093 0.93C4.50096 0.96 4.65099 1.05 4.80102 1.2C4.92105 1.38 4.95106 1.59 4.95106 1.68C4.98106 2.1 4.98106 2.52 5.07108 2.94C5.13109 3.36 5.25112 3.78 5.37115 4.2C5.49117 4.59 5.40115 4.89 5.13109 5.16C4.65099 5.61 4.17089 6.09 3.66078 6.57C3.60077 6.63 3.60077 6.66 3.63077 6.75C4.41094 8.28 5.55118 9.54 6.93148 10.53C7.35157 10.83 7.83167 11.1 8.25176 11.4C8.28177 11.43 8.31177 11.43 8.34178 11.43C8.37179 11.43 8.40179 11.4 8.4318 11.37C8.9119 10.89 9.392 10.38 9.90211 9.9C9.96212 9.84 10.0521 9.75 10.1422 9.72C10.2322 9.66 10.3222 9.63 10.4122 9.63C10.4722 9.63 10.5322 9.63 10.5923 9.66C11.0123 9.78 11.4624 9.93 11.9125 10.02C12.3326 10.11 12.7527 10.11 13.1428 10.14C13.5629 10.14 13.893 10.26 14.013 10.71V13.5C13.833 13.92 13.6829 14.07 13.2628 14.07C13.2328 14.07 13.2028 14.07 13.1728 14.07C12.6327 14.04 12.0626 14.01 11.5225 13.95C10.3522 13.8 9.21196 13.47 8.13173 12.96C5.55118 11.76 3.60077 9.9 2.28049 7.35C1.35029 5.55 0.900192 3.66 0.900192 1.65C0.900192 1.41 0.990211 1.2 1.23026 1.05C1.32028 0.99 1.4103 0.96 1.50032 0.93H4.38093ZM4.80102 0H4.38093H1.50032C1.38029 0 1.32028 0 1.26027 0.03C1.23026 0.03 1.17025 0.06 1.11024 0.09C1.11024 0.09 1.08023 0.09 1.05022 0.12C0.960205 0.15 0.810173 0.24 0.75016 0.27C0.630134 0.3 0.450096 0.48 0.300064 0.69C0.120026 0.96 0 1.29 0 1.65C0 3.84 0.480102 5.91 1.47031 7.8C2.88061 10.5 4.98106 12.54 7.74165 13.8C8.94191 14.37 10.1722 14.73 11.4024 14.88C11.9125 14.94 12.4226 14.97 13.1128 15C13.1728 15 13.2028 15 13.2628 15C13.4429 15 13.833 15 14.223 14.73C14.6731 14.43 14.8532 13.98 14.8832 13.83C14.9132 13.68 14.9432 13.59 14.9432 13.47C15.0032 12.87 15.0332 12.15 14.9432 10.65C14.9432 10.59 14.9432 10.5 14.9132 10.38C14.7932 9.9 14.4631 9.63 14.3731 9.54C14.043 9.27 13.7129 9.15 13.1428 9.12C12.6927 9.12 12.3626 9.09 12.0626 9.03C11.7625 8.97 11.4324 8.88 11.1024 8.76L10.8623 8.7C10.7123 8.64 10.5623 8.64 10.4122 8.64C10.1422 8.64 9.90211 8.7 9.66206 8.85C9.48202 8.94 9.362 9.06 9.24197 9.18C8.9119 9.51 8.55182 9.87 8.22175 10.2C7.9517 10.05 7.71164 9.87 7.47159 9.72C6.33135 8.88 5.40115 7.89 4.74101 6.75C4.89104 6.6 5.04107 6.48 5.19111 6.33L5.76123 5.76C6.30134 5.25 6.48138 4.59 6.27134 3.87C6.18132 3.51 6.06129 3.12 6.00128 2.73C5.94127 2.43 5.94127 2.13 5.91126 1.8C5.91126 1.74 5.91126 1.68 5.91126 1.59C5.88125 1.2 5.85125 0.87 5.67121 0.51C5.55118 0.42 5.40115 0.18 5.10109 0.06C4.98106 0 4.89104 0 4.80102 0Z" fill="#66675F"/>
                </svg>

            </div>

            <a class="contact-phone" href="{{ section.settings.phone-number }}">{{ section.settings.phone-number }}</a>

            <div class="contact-icon">
                <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="14.5" y="0.5" width="9" height="14" transform="rotate(90 14.5 0.5)" stroke="#66675F" />
                    <path d="M0.535645 0.5L7.49993 6L14.4642 0.5" stroke="#66675F" />
                </svg>

            </div>

            <a class="contact-mail" href="mailto: {{ section.settings.email }}">{{ section.settings.email }}</a>

            <div class="contact-icon">
                <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="7.5" cy="7.5" r="7" stroke="#66675F" />
                    <path d="M7.5 3V8L9.5 10" stroke="#66675F" />
                </svg>

            </div>

            <div class="contact-hours">

                <div class="hours-shop">
                    <p>
                        Shop opening hours
                    </p>
                  	<div>{{ section.settings.shop-hours }}</div>
                    
                </div>
                <div class="hours-webshop">
                    <p>
                        Webshop delivery times
                    </p>
                  	<div>{{ section.settings.webshop-hours }}</div>
                </div>
            </div>
        </div>

    </div>
    <div class="service-column">
        <h2>Contact form</h2>
        <div class="contact-form">
            {% form 'contact' %}
            {{ form_errors | default_errors }}

            <div class="input-group">
                <input type="text" name="contact[first_name]" class="form-input"
                    onkeyup="this.setAttribute('value', this.value);" value="" />
                <label for="first-name" class="form-input-label">First name</label>

            </div>

            <div class="input-group">
                <input type="text" name="contact[last_name]" class="form-input"
                    onkeyup="this.setAttribute('value', this.value);" value="" />
                <label for="last-name" class="form-input-label">Last name</label>
            </div>

            <div class="input-group">
                <input type="email" name="contact[email]" class="form-input"
                    onkeyup="this.setAttribute('value', this.value);" value="" />
                <label for="email" class="form-input-label">Email</label>
            </div>

            <div class="input-group">
                <input type="text" name="contact[phone-number]" class="form-input"
                    onkeyup="this.setAttribute('value', this.value);" value="" />
                <label for="phone-numberr" class="form-input-label">Phone</label>
            </div>

            <div class="input-group">
                <textarea name="contact[message]" rows="5" class="form-input"
                    onkeyup="this.setAttribute('value', this.value);" value=""></textarea>
                <label for="message" class="form-input-label">Message</label>
            </div>

            <button type="submit">
                <span>Submit</span>
                <div class="arrow">
                    <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                            fill="#464E40" />
                    </svg>
                </div>
            </button>
            {% endform %}
        </div>
    </div>



</div>

<div class="service-column">
    <h2>Shop location</h2>
    <div class="iframe-wrapper">
        <iframe src="https://snazzymaps.com/embed/357485" width="100%" height="100%" style="border:none;"></iframe>
    </div>
    
</div>


{% schema %}
{
  "name": "Contact content",
  "settings": [
    {
    "type":"richtext",
    "label":"Contact information",
    "id":"information"
    },
    {
    "type": "image_picker",
    "label": "Image",
    "id": "image"
    },
	{
    "type":"richtext",
    "label":"Street name and house number",
    "id":"street-hn"
    },
	{
    "type":"richtext",
    "label":"Zipcode and city",
    "id":"zipcode-city"
    },
	{
    "type":"richtext",
    "label":"Phone number",
    "id":"phone-number"
    },
	{
    "type":"richtext",
    "label":"Email",
    "id":"email"
    },
	{
    "type":"richtext",
    "label":"Shop opening hours",
    "id":"shop-hours"
    },
	{
    "type":"richtext",
    "label":"Webshop delivery times",
    "id":"webshop-hours"
    }

  ]
}
{% endschema %}