{% paginate blog.articles by 12 %}
<div class="blogs">
  <div class="article-container">
    <h1>{{ blog.title }}</h1>
    <div class="article-wrapper">
      {% for article in blog.articles %}
      <div class="article-single">
        <div class='ratio-box landscape'>
          <img src="{{ article.image.src | img_url: 'large' }}" alt="">
        </div>
        <span class="date"> {{ article.published_at | date: "%a, %b %d, %Y" }}</span>
        <h3>{{ article.title }}</h3>
        <div class="article-text">
          <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
        </div>
        <a class="button" href="{{ article.url }}">Read more
          <div class="arrow">
            <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                fill="#464E40" />
            </svg>
          </div>
        </a>

      </div>
      {% endfor %}
      
    

     
      </div>
    
     {% if paginate.pages > 1 %}
      
       <div class='paginate-links' >
          {% if paginate.previous.is_link %}
          <a  class="button" href="{{ paginate.previous.url }}">
            <div class="arrow" style='padding: 0 1rem 0 0'>
              <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg" style='transform: rotate(180deg)'>
                <path
                  d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                  fill="#464E40" />
              </svg>
            </div>
            Previous
          </a>
          {% else %}
           <a  class="button" href="{{ paginate.previous.url }}" style='pointer-events: none; opacity:0.4;'>
            <div class="arrow" style='padding: 0 1rem 0 0'>
              <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg" style='transform: rotate(180deg)'>
                <path
                  d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                  fill="#464E40" />
              </svg>
            </div>
            Previous
          </a>
          {% endif %}

          {% if paginate.next.is_link %}
          <a  class="button" href="{{ paginate.next.url }}">
            Next
            <div class="arrow">
              <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                  fill="#464E40" />
              </svg>
            </div>
          </a>
          {% else %}
           <a  class="button" href="{{ paginate.next.url }}" style='pointer-events: none; opacity:0.4;'>
            Next
            <div class="arrow">
              <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                  fill="#464E40" />
              </svg>
            </div>
          </a>
          {% endif %}
      
      
      
      {% endif %}
    </div>
  </div>
</div>

{% endpaginate %}

