{{ 'cart.scss.css' | asset_url | stylesheet_tag }}

<div class="cart-wrapper">
  <div class="container">
    {% if cart.item_count > 0 %}
      <h1>Mijn winkelwagen</h1>

      <form action="/cart" method="post" class="row">
        <div class="col-lg-8">
          <table>
            <tbody>
              {% for item in cart.items %}
                <tr>
                  <td class="product-img">
                    <a href="{{ item.url | within: collections.all }}">
                      <div class="ratio-box portrait">
                        <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                      </div>
                    </a>
                  </td>
                  <td class="product-title">
                    <a class="sm" href="{{ item.url }}"
                      ><strong>{{ item.product.title }}</strong></a
                    >
                    <p class="sr">{{ item.variant.title }}</p>
                  </td>
                  <td>
                    <input
                      type="number"
                      name="updates[]"
                      id="updates_{{ item.key }}"
                      value="{{ item.quantity }}"
                      min="0"
                    >
                  </td>
                  <td class="product-pricing sm">
                    {% if item.original_line_price != item.line_price %}
                      {{ item.original_line_price | money }}
                    {% endif %}
                    {{ item.line_price | money }}
                    {% for discount in item.discounts -%}
                      {{- discount.title -}}
                    {%- endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="cart-totals col-lg-4">
          {% comment %} {% section 'date-picker' %} {% endcomment %}
          <div class="cart-checkout">
            <h2>Overzicht</h2>
            <p class="sr">
              <strong>Subtotal</strong><span>{{ cart.total_price | money }}</span>
            </p>
            <p class="sr"><strong>Verzendkosten</strong><span>Gratis</span></p>
            <p class="sr total-price">
              <strong>Subtotal</strong><span class="sm">{{ cart.total_price | money }}</span>
            </p>
            <div class="cart-buttons">
              <button class="sr" type="submit" name="update">Update</button>
              <button class="sr" type="submit" name="checkout">Bestellen</button>
            </div>
            <p class="sr free-shipping-message">Gratis bezorging in Nederland</p>
            <div class="payment-methods">
              <img
                src="{{ 'payment-methods-transparent.png' | asset_img_url: 'medium' }}"
                loading="lazy"
                alt="payment methods"
              >
            </div>
          </div>
        </div>
      </form>
    {% else %}
      <h1>Your Cart</h1>
      <p>Your cart is currently empty</p>
      <a class="button" href="/collections/full-collection"
        >Continue shopping
        <div class="arrow">
          <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                fill="#464E40" />
          </svg>
        </div>
      </a>
      <div class="cart-bottom">
        {% section 'date-picker' %}
      </div>
    {% endif %}
  </div>
</div>
