{% paginate collection.products by 12 %}

<div class="product-collection">
  <div class="product-collection-container">
    <div class="product-collection-wrapper">


      <h2>{{ collection.title }}</h2>

      <div class="product-grid">

        {% for product in collection.products %}

        <div class="single-product">

          <img src="{{ product.featured_image.src | img_url: 'large' }}"
            alt="{{ product.featured_image.alt | escape }}">

          <h3> {{ product.title}} </h3>

          <div class="button-wrapper">
            <a class="button" href="{{ product.url | within: collection }}"> shop
              <div class="arrow">
                <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                    fill="#464E40" />
                </svg>
              </div>
            </a>

            {{ product.price | money }}

          </div>
        </div>



        {% else %}
        <p>no matches</p>
        {% endfor %}

        </div>
        {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
        {% endif %}
        {% endpaginate %}

      </div>
    </div>
  </div>