<div class='search-page'>
  
  {%section 'collections-nav' %}
  
  <div class="filter-search">
    {% include 'filter' %}
  </div>
  
  

{% paginate search.results by 10 %}
 
  <div class ='search-page-results'>
      <div class="search-page-bar">
        <form class='search-form'action="/search" method="get" role="search">
          <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search">
          <button type="submit">
            {% include 'icon-search' %}
          </button>
        </form>
      </div>
    
    {% if search.performed %}
    
    <div class ='search-page-results-flex'>
      {% for item in search.results %}
      
      {% if item.object_type == 'article' %}
      
      <a class ='search-page-results-flex-item' href="{{ item.url | within: collection }}">      
          {% if item.image %}
        <div class="image-ratio-wrapper">
          <div class="ratio-box portrait" >
            <img src="{{ item.image.src | img_url: 'large' }}"
                    alt="{{ item.image.alt | escape }}">
          </div>
        </div>
          {% endif %}
        
        <div class='search-title'> <h3>{{ item.title}}</h3></div>

         
        
          <span class="price">
            Read this article
          </span>
        </a>
      
      {% elsif item.object_type == 'page' %}
   

      
      {% else %}
      
          <a class ='search-page-results-flex-item' href="{{ item.url | within: collection }}">      
          {% if item.featured_image %}
            <div class="image-ratio-wrapper">
              <div class="ratio-box portrait" >
                <img src="{{ item.featured_image.src | img_url: 'large' }}"
                        alt="{{ item.featured_image.alt | escape }}">
              </div>
            </div>
          {% endif %}

          <div class='search-title'> <h3>{{ item.title}}</h3></div>
          <span class="price">
            {% if item.price_varies %}{{ item.price_min | money }} - {{ item.price_max | money }}{% else %}{{ item.price | money }}{% endif %}
          </span>
        </a>
      
      {% endif %}
           

    
      {% else %}
      <h3>no results</h3>
      {% endfor %}
    </div>
    
    
  {% endif %}
  </div>

  

  {% if paginate.pages > 1 %}<div class='paginate-links' >
          {% if paginate.previous.is_link %}
          <a  class="button" href="{{ paginate.previous.url }}">
            <div class="arrow" style='padding: 0 1rem 0 0'>
              <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg" style='transform: rotate(180deg)'>
                <path
                  d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                  fill="#464E40" />
              </svg>
            </div>
            Previous
          </a>
          {% else %}
           <a  class="button" href="{{ paginate.previous.url }}" style='pointer-events: none; opacity:0.4;'>
            <div class="arrow" style='padding: 0 1rem 0 0'>
              <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg" style='transform: rotate(180deg)'>
                <path
                  d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                  fill="#464E40" />
              </svg>
            </div>
            Previous
          </a>
          {% endif %}

          {% if paginate.next.is_link %}
          <a  class="button" href="{{ paginate.next.url }}">
            Next
            <div class="arrow">
              <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                  fill="#464E40" />
              </svg>
            </div>
          </a>
          {% else %}
           <a  class="button" href="{{ paginate.next.url }}" style='pointer-events: none; opacity:0.4;'>
            Next
            <div class="arrow">
              <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 1.0505L1.15632 0L5 3.4965L1.15453 6.99544L0 5.94494L1.87802 4.24023L2.64309 3.49772L1.87265 2.75439L0 1.0505Z"
                  fill="#464E40" />
              </svg>
            </div>
          </a>
          {% endif %}
      
    </div>
  {% endif %}
{% endpaginate %}
  
</div>
